<!DOCTYPE html>

<html ng-app="app">
    <head>      
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="randomega, rando, thierry sambussy" />
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script type="text/javascript" src="js/analytics.js"></script>
        <link rel="icon" href="img/favicon-32x32.png" />
        <link href="https://fonts.googleapis.com/css?family=Kalam|Cute+Font|Oswald" rel="stylesheet">
    </head>
    <body>
        <div id="main">
            <header>
                <h1><a href="{{ url('accueil') }}"><img src="img/logo.png" alt="randomega"/></a></h1>
            </header>
            <nav>
                <div class="pictures"><h2><a href="{{ url('photos') }}">PHOTOS</a><h2></div>
                <div class="hiking"><h2><a href="{{ url('randos') }}">RANDOS</a><h2></div>
                <div class="equipment"><h2><a href="{{ url('equipement') }}">EQUIPEMENT</a><h2></div>
                <div class="links"><h2><a href="{{ url('liens') }}">LIENS</a><h2></div>
                <div class="quotes"><h2><a href="{{ url('citations') }}">CITATIONS</a><h2></div>
                <div class="me"><h2><a href="{{ url('moi') }}">MOI</a><h2></div>
            </nav>
            {% block content %}{% endblock %}
            <footer><p>Par <a href="http://thierry-sambussy.fr">Thierry Sambussy</a></p></footer>
        </div>
    </body>

</html>