{% extends "app.twig" %}

{% block title %}randos{% endblock %}

{% block content %}

    {% set randos = [
    {'zone':'Vésubie', 'nom':'Mont Colomb', 'denivele':'900', 'kms':'10', 'difficulte':'sport'},
    {'zone':'Préalpes', 'nom':'Puy de Tourettes', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Esterel', 'nom':'Pic d\'Aurelle', 'denivele':'300', 'kms':'10', 'difficulte':'easy'},
    {'zone':'Préalpes', 'nom':'Puy de Tourettes', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Vésubie', 'nom':'Cime du Mercantour', 'denivele':'1300', 'kms':'10', 'difficulte':'sport'},
    {'zone':'Préalpes', 'nom':'Baou de saint Jeannet', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Vésubie', 'nom':'Cime des Adus', 'denivele':'500', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Vésubie', 'nom':'Grand Capelet', 'denivele':'1200', 'kms':'10', 'difficulte':'sport'},
    {'zone':'Préalpes', 'nom':'Le haut Montet', 'denivele':'300', 'kms':'10', 'difficulte':'easy'},
    {'zone':'Vésubie', 'nom':'Lacs Bessons', 'denivele':'800', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Vésubie', 'nom':'Lac de Trécolpas', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Esterel', 'nom':'Mont saint Martin', 'denivele':'300', 'kms':'10', 'difficulte':'easy'},
    {'zone':'Préalpes', 'nom':'Pic de Courmettes', 'denivele':'750', 'kms':'10', 'difficulte':'sport'},
    {'zone':'Vésubie', 'nom':'Refuge de Nice', 'denivele':'500', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Vésubie', 'nom':'Lac Negre', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Tinée', 'nom':'Cime de la Lombarde', 'denivele':'600', 'kms':'8', 'difficulte':'sport'},
    {'zone':'Vésubie', 'nom':'Lacs de Prals', 'denivele':'700', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Tinée', 'nom':'Lacs de Vens', 'denivele':'1000', 'kms':'10', 'difficulte':'sport'},
    {'zone':'Tinée', 'nom':'Lacs Morgons', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Vésubie', 'nom':'Madone d\'Utelle', 'denivele':'300', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Tinée', 'nom':'Lacs Lausfer', 'denivele':'700', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Vésubie', 'nom':'Lac de Fenestre', 'denivele':'300', 'kms':'10', 'difficulte':'easy'},
    {'zone':'Tinée', 'nom':'Lacs de mille fonts', 'denivele':'500', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Tinée', 'nom':'Mont Malinvern', 'denivele':'1100', 'kms':'10', 'difficulte':'sport'},
    {'zone':'Vésubie', 'nom':'Pas des Ladres', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Préalpes', 'nom':'Plan des Noves', 'denivele':'250', 'kms':'10', 'difficulte':'easy'},
    {'zone':'Vésubie', 'nom':'Cime d\'Agnielle', 'denivele':'800', 'kms':'10', 'difficulte':'sport'},
    {'zone':'Vésubie', 'nom':'Mont Piagu', 'denivele':'500', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Haut Sian', 'nom':'Mont Mounier', 'denivele':'1100', 'kms':'10', 'difficulte':'sport'},
    {'zone':'Vésubie', 'nom':'Mont Clapier', 'denivele':'1400', 'kms':'10', 'difficulte':'sport'},
    {'zone':'Vallée des merveilles', 'nom':'Lacs vert, noir, long', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Esterel', 'nom':'Pic d\'Aurelle', 'denivele':'300', 'kms':'10', 'difficulte':'easy'},
    {'zone':'PréAlpes', 'nom':'Cime de Roccassiera', 'denivele':'500', 'kms':'10', 'difficulte':'medium'},
    {'zone':'PréAlpes', 'nom':'Mine de l\'Eguisse', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Vésubie', 'nom':'Cime de Juisse', 'denivele':'700', 'kms':'10', 'difficulte':'sport'},
    {'zone':'Tinée', 'nom':'Tour du Mont Férant', 'denivele':'750', 'kms':'10', 'difficulte':'sport'},
    {'zone':'Vésubie', 'nom':'Baou de la Frema', 'denivele':'800', 'kms':'10', 'difficulte':'sport'},
    {'zone':'Moyen Var ', 'nom':'Circuit d\'Amen', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Esterel', 'nom':'Pic cap Roux', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Tinée', 'nom':'Hameau de Mollières', 'denivele':'900', 'kms':'10', 'difficulte':'sport'},
    {'zone':'Préalpes', 'nom':'Circuit du Paradis', 'denivele':'500', 'kms':'10', 'difficulte':'medium'},
    {'zone':'Préalpes', 'nom':'Plateau de Cavillore', 'denivele':'300', 'kms':'10', 'difficulte':'easy'},

    ] %}

    <div id="content">

        <table>
            <tr>
                <td class="easy">Facile</td>
                <td class="medium">Moyenne</td>
                <td class="sport">Sportive</td>
            </tr>
            <tr>
                <td>0 - 300 m +/-</td>
                <td>300 - 600 m +/-</td>
                <td>600 - 1500 m +/-</td>
            </tr>
        </table>
        <div class="center">
            <table>
                <tr>
                    <th>Zone</th>
                    <th>Nom</th>
                    <th>Dénivellé</th>
                    <th>Distance</th>
                </tr>
                {% for rando in randos %}
                    <tr class="{{ rando.difficulte }}">
                        <td>{{ rando.zone }}</td>
                        <td>{{ rando.nom }}</td>
                        <td>{{ rando.denivele }} +/-</td>
                        <td>{{ rando.kms }} kms</td>
                    </tr>
                {% endfor %}
            </table>


        </div>

    </div>

{% endblock %}