{% extends "app.twig" %}

{% block title %}contact{% endblock %}

{% block content %}

    {% set randos = [
        {'zone':'Vésubie', 'nom':'Mont Colomb', 'denivele':'900', 'kms':'10', 'difficulte':'sport'},
        {'zone':'Vésubie', 'nom':'Cime du Mercantour', 'denivele':'1300', 'kms':'10', 'difficulte':'sport'},
        {'zone':'Vésubie', 'nom':'Cime des Adus', 'denivele':'500', 'kms':'10', 'difficulte':'medium'},
        {'zone':'Vésubie', 'nom':'Grand Capelet', 'denivele':'1200', 'kms':'10', 'difficulte':'sport'},
        {'zone':'Vésubie', 'nom':'Lacs Bessons', 'denivele':'800', 'kms':'10', 'difficulte':'medium'},
        {'zone':'Vésubie', 'nom':'Lac de Trécolpas', 'denivele':'500', 'kms':'10', 'difficulte':'medium'},
        {'zone':'Vésubie', 'nom':'Refuge de Nice', 'denivele':'500', 'kms':'10', 'difficulte':'medium'},
        {'zone':'Vésubie', 'nom':'Lac Negre', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},
        {'zone':'Tinée', 'nom':'Cime de la Lombarde', 'denivele':'600', 'kms':'8', 'difficulte':'sport'},
        {'zone':'Vésubie', 'nom':'Lacs de Prals', 'denivele':'700', 'kms':'10', 'difficulte':'medium'},
        {'zone':'Tinée', 'nom':'Lacs de Vens', 'denivele':'1000', 'kms':'10', 'difficulte':'sport'},
        {'zone':'Tinée', 'nom':'Lacs Morgons', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},
        {'zone':'Tinée', 'nom':'Lacs Lausfer', 'denivele':'700', 'kms':'10', 'difficulte':'medium'},
        {'zone':'Vésubie', 'nom':'Lac de Fenestre', 'denivele':'300', 'kms':'10', 'difficulte':'easy'},
        {'zone':'Tinée', 'nom':'Lacs de mille fonts', 'denivele':'500', 'kms':'10', 'difficulte':'medium'},
        {'zone':'Tinée', 'nom':'Mont Malinvern', 'denivele':'1100', 'kms':'10', 'difficulte':'sport'},
        {'zone':'Vésubie', 'nom':'Pas des Ladres', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},
        {'zone':'Vésubie', 'nom':'Cime d\'Agnielle', 'denivele':'800', 'kms':'10', 'difficulte':'sport'},
        {'zone':'Vésubie', 'nom':'Mont Piagu', 'denivele':'500', 'kms':'10', 'difficulte':'medium'},
        {'zone':'Haut Sian', 'nom':'Mont Mounier', 'denivele':'1100', 'kms':'10', 'difficulte':'sport'},
        {'zone':'Vésubie', 'nom':'Mont Clapier', 'denivele':'1400', 'kms':'10', 'difficulte':'sport'},
        {'zone':'Vallée des merveilles', 'nom':'Lacs vert, noir, long', 'denivele':'600', 'kms':'10', 'difficulte':'medium'},

    ] %}
    <p>Je vous accompagne pour découvrir cette belle région.</p>
    <p>Ici la liste des randos que je propose.</p>
    <p>Vous choisissez la rando je vous montre le chemin.</p>
    <table>
        <tr>
            <td class="easy">Facile</td>
            <td class="medium">Moyenne</td>
            <td class="sport">Sportive</td>
        </tr>
        <tr>
            <td>0 - 300 m +/-</td>
            <td>300 - 600 m +/-</td>
            <td>600 - 1500 m +/-</td>
        </tr>
    </table>
    <div class="center">
        <table>
            <tr>
                <th>Zone</th>
                <th>Nom</th>
                <th>Dénivellé</th>
                <th>Distance</th>
            </tr>
            {% for rando in randos %}
                <tr class="{{ rando.difficulte }}">
                    <td>{{ rando.zone }}</td>
                    <td>{{ rando.nom }}</td>
                    <td>{{ rando.denivele }} +/-</td>
                    <td>{{ rando.kms }} kms</td>
                </tr>
            {% endfor %}
        </table>


    </div>

{% endblock %}