{% extends "app.twig" %}

{% block title %}randos{% endblock %}

{% block content %}

    <div id="content">

        <table>
            <tr>
                <td class="easy">Facile</td>
                <td class="medium">Moyenne</td>
                <td class="sport">Sportive</td>
            </tr>
            <tr>
                <td>0 - 300 m +/-</td>
                <td>300 - 600 m +/-</td>
                <td>600 - 1500 m +/-</td>
            </tr>
        </table>
        <div class="center">
            <table>
                <tr>
                    <th>Zone</th>
                    <th>Nom</th>
                    <th>Dénivellé</th>
                    <th>Distance</th>
                </tr>
                {% for hike in hikes %}
                    <tr class="{{ hike.get('difficulty') }}">
                        <td>{{ hike.get('name') }}</td>
                        <td>{{ hike.get('region') }}</td>
                        <td>{{ hike.get('different') }} +/-</td>
                        <td>{{ hike.get('distance') }} kms</td>
                    </tr>
                {% endfor %}
            </table>


        </div>

    </div>

{% endblock %}