{% extends "app.twig" %}

{% block title %}randos{% endblock %}


{% block content %}

    <div id="content" class="hiking">
                
            {% for difficulty in difficulties %}
        
                <h3>{{ difficulty.get('name')|capitalize }}</h3>
                {% for hike in hikes %}
                    {% if hike.get('difficulty') == difficulty.get('id') %}
                        <div class="hike {{difficulty.get('name')}}">
                            <span class="name">{{ hike.get('name') }}</span><br/>
                            <span class="difference">Dénivellé : {{ hike.get('difference') }} +/-</span><br/>
                            <span class="zone">Zone : {{ hike.get('zone') }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="etc">...</div>    
            {% endfor %}

    </div>

{% endblock %}